body { overflow-x: hidden; }

/***************** color *****************/
:root {
    --main-color: #ffc817;
    --bk11: #111;
    --bk22: #222;
    --bk33: #333;
    --gray66: #666;
    --gray55: #555;
}

.fc_main_color { color: var(--main-color); }

/***************** font *****************/
.gmarket_font { font-family:'Gmarketsans'; }
.montserrat_font { font-family:'Montserrat'; }