/************************* main visual *************************/
.main_visual_wrap { position: relative; z-index: 1; display: flex; padding: 80px 0; }
.main_visual_wrap:after { content: "web design"; position: absolute; right: 0; bottom: 4.688vw; width: 50%; font-family: 'GmarketSans'; font-weight: 700; font-size: 12.5vw; font-style: italic; color: transparent; text-transform: uppercase; z-index: -10; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #e5e5e5; }
.main_visual_wrap .visual_text_left { margin-left: -1.042vw; }
.main_visual_wrap .visual_text_left .box strong.txt { display: block; line-height: 9.531vw; font-family: 'GmarketSans'; font-weight: 700; font-size: 8.854vw; color: var(--bk22); }
.main_visual_wrap .visual_text_left .box1 { display: flex; align-items: center; }
.main_visual_wrap .visual_text_left .box1 .contact { margin: 0 0 25px 2.604vw; }
.main_visual_wrap .visual_text_left .box1 .contact > b { display: block; margin-bottom: 8px; font-weight: 700; font-size: 16px; text-transform: uppercase; }
.main_visual_wrap .visual_text_left .box1 .contact > a { display: block; line-height: 18px; font-size: 14px; color: var(--gray66) }
.main_visual_wrap .visual_text_left .box2 { display: flex; align-items: center; }
.main_visual_wrap .visual_text_left .box2 .icn { display: block; width: 4.635vw; height: 4.896vw; margin: 0 0 1.042vw 1.979vw; background-image: url(../img/main/icn1.png); background-position: right center; background-repeat: no-repeat; background-size: cover; }
.main_visual_wrap .visual_text_left .box3,
.main_visual_wrap .visual_text_left .box4 { margin-left: 14.583vw; }
.main_visual_wrap .visual_text_left .box5 { display: flex; align-items: center; }
.main_visual_wrap .visual_text_left .box5 > p { line-height: 28px; margin: 0 0 20px 50px; font-weight: 500; font-size: 18px; color: var(--bk22); }
.main_visual_wrap .visual_img { position: absolute; top: 23vw; left: 42vw; z-index: -1; }
.main_visual_wrap .visual_img::before { content: ""; position: absolute; top: -0.938vw; left: -0.938vw; z-index: -2; width: 25.208vw; height: 29.542vw; background-image: url(../img/main/smile_img1_bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover; }
.main_visual_wrap .visual_img img { width: 25.208vw; height: 29.542vw; }
.main_visual_wrap .visual_text_right .box > strong { display: block; margin-bottom: 5px; }
.main_visual_wrap .visual_text_right .box > strong > span { display: inline-block; padding: 8px 12px; font-weight: 500; font-size: 18px; color: #fff; background: var(--bk22); }

/************************* main visual (배경 ON) *************************/
body.bgBk .main_visual_wrap .visual_text_left .box strong.txt { color: #fff; }
body.bgBk .main_visual_wrap .visual_text_left .box5 > p { color: #fff; }

@media only screen and (max-width: 1500px) {
    .main_visual_wrap .visual_text_left .box5 > p { line-height: 24px; font-size: 15px; }
}
@media only screen and (max-width: 1299px) {
    .main_visual_wrap .visual_text_right { padding-left: 30px; }
    .main_visual_wrap .visual_text_right .box > strong > span { font-size: 15px; }
}
@media only screen and (max-width: 1023px) {
    .main_visual_wrap .visual_text_left .box1 .contact > b { font-size: 1.564vw; }
    .main_visual_wrap .visual_text_left .box1 .contact > a { line-height: 1.76vw; font-size: 1.369vw; }
    .main_visual_wrap .visual_img { top: 26.588vw; left: 43vw; }
    .main_visual_wrap .visual_text_left .box5 > p { margin: 0 0 1.075vw 3.324vw; line-height: 2.346vw; font-size: 1.466vw; }
    .main_visual_wrap .visual_text_right .box > strong > span { padding: 0.782vw 1.173vw; font-size: 1.466vw; }
}
@media only screen and (max-width: 767px) {
    .main_visual_wrap {display: none;}
}


/************************* 소개 *************************/
.cont1 { padding: 60px 0 100px; }
.cont1 .box1 { padding: 0 100px; display: flex; justify-content: space-between; }
.cont1 .box1 .greet_box > strong { display: block; line-height: 60px; font-weight: 700; font-size: 50px; }
.cont1 .box1 .greet_box > strong > span { display: block; font-weight: 700; font-size: 20px; }
.cont1 .box1 .intdu_box > p { display: block; line-height: 26px; font-weight: 500; font-size: 18px; }
.cont1 .box1 .intdu_box > p:first-child { margin-bottom: 15px; }
.cont1 .box1 .skill_box > strong { display: block; font-weight: 700; font-size: 22px; text-transform: uppercase; }
.cont1 .box1 .skill_box > ul { display: flex; gap: 35px; margin-top: 25px; }
.cont1 .box1 .skill_box > ul > li .icn > img { display: block; margin: 0 auto; }
.cont1 .box1 .skill_box > ul > li > p { display: block; margin-top: 7px; font-family:'Montserrat'; font-weight: 600; font-size: 13px; text-align: center; }
.cont1 .box2 { margin-top: 100px; padding: 0 100px; }
.cont1 .box2 .career_list { display: flex; }
.cont1 .box2 .career_list > li { position: relative; z-index: 1; flex: 1; padding-top: 28px; border-top: 1px solid var(--gray66); }
.cont1 .box2 .career_list > li:before { content: ""; position: absolute; top: -4px; left: 0; width: 7px; height: 7px; background: var(--gray66); border-radius: 100%; }
.cont1 .box2 .career_list > li strong { display: block; line-height: 35px; font-weight: 700; font-size: 26px; }
.cont1 .box2 .career_list > li span { display: block; margin-top: 12px; font-weight: 500; font-size: 15px; }






.line_wrap { margin-top: 70px; padding: 150px 0; }
.line_wrap .line_box { position: relative; z-index: 1; margin-left: -100px; }
.line_wrap .line_box .line { position: relative; display: block; width: 120%; height: 90px;  background: var(--main-color); overflow: hidden; }
.line_wrap .line_box .line2 { margin-top: -100px; }
.line_wrap .line_box .line span { position: absolute; top: 0; left: 0; width: 500%; display: block; line-height: 90px; font-weight: 700; font-family: 'Montserrat'; font-size: 36px; color: var(--bk22); text-transform: uppercase; transform: translateX(-10%); animation: textLineAni 35s linear infinite; }
@keyframes textLineAni {
    0% { transform: translateX(-10%); }
    50% { transform: translateX(0%); }
    100% { transform: translateX(-10%); }
}
.line_wrap .line_box .line1 { transform: rotate(5deg); }
.line_wrap .line_box .line2 { transform: rotate(351deg); }

body.bgYe .line_wrap .line_box .line { background: #222; }
body.bgYe .line_wrap .line_box .line span { color: #fff; transition: 0.5s; }

@media only screen and (max-width: 1023px) {
    .line_wrap { margin-top: 0; }
    .line_wrap .line_box .line { height: 73px; }
    .line_wrap .line_box .line span { line-height: 73px; font-size: 28px; }
}
@media only screen and (max-width: 767px) {
    .line_wrap { margin-top: 0; }
    .line_wrap .line_box .line { height: 60px; }
    .line_wrap .line_box .line span { line-height: 60px; font-size: 22px; }
}
@media only screen and (max-width: 560px) {
    .line_wrap { padding: 100px 0; }
    .line_wrap .line_box .line2 { margin-top: -55px; }
}

/************************* 소개 (배경 ON) *************************/
body.bgBk .cont1 .box1 .greet_box > strong,
body.bgBk .cont1 .box1 .greet_box > strong > span,
body.bgBk .cont1 .box1 .intdu_box > p,
body.bgBk .cont1 .box1 .skill_box > strong,
body.bgBk .cont1 .box1 .skill_box > ul > li > p,
body.bgBk .cont1 .box2 .career_list > li strong,
body.bgBk .cont1 .box2 .career_list > li span { color: #fff; }

body.bgBk .cont1 .box2 .career_list > li { border-top-color: #fff; }
body.bgBk .cont1 .box2 .career_list > li:before { background: #fff; }



/************************* 소개 (반응형) *************************/
@media only screen and (max-width: 1500px) {
    .cont1 .box1 .greet_box > strong { line-height: 50px; font-size: 40px; }
    .cont1 .box1 .intdu_box > p { line-height: 25px; font-size: 17px; }
    .cont1 .box1 .skill_box > strong { font-size: 20px; }
    .cont1 .box1 .skill_box > ul { gap: 25px; }
    .cont1 .box1 .skill_box > ul > li .icn > img { width: 65px; }
}
@media only screen and (max-width: 1300px) {
    .cont1 .box1 { padding: 0 50px; }
    .cont1 .box2 { margin-top: 80px; padding: 0 50px; }
    .cont1 .box2 .career_list > li strong { line-height: 31px; font-size: 22px; }
}
@media only screen and (max-width: 1199px) {
    .cont1 .box1 .greet_box > strong { line-height: 4.17vw; font-size: 3.336vw; }
    .cont1 .box1 .greet_box > strong > span { font-size: 1.668vw; }
    .cont1 .box1 .intdu_box > p { line-height: 2.085vw; font-size: 1.418vw; }
    .cont1 .box1 .skill_box > strong { font-size: 1.668vw; }
    .cont1 .box1 .skill_box > ul > li .icn > img { width: 5.421vw; }
    .cont1 .box1 .skill_box > ul > li > p { font-size: 1.084vw; }
    .cont1 .box2 { margin-top: 6.672vw; }
    .cont1 .box2 .career_list > li { padding-top: 2.335vw; }
    .cont1 .box2 .career_list > li strong { line-height: 2.585vw; font-size: 1.835vw; }
    .cont1 .box2 .career_list > li span { font-size: 1.251vw; }
}
@media only screen and (max-width: 1023px) {
    .cont1 { display: flex; padding-bottom: 0; }
    .cont1 .box1 { flex-shrink: 0; width: 50%; flex-wrap: wrap; gap: 50px; padding-right: 0; }
    .cont1 .box1 .greet_box > strong { line-height: 42px; font-size: 33px; }
    .cont1 .box1 .greet_box > strong > span { font-size: 15px; }
    .cont1 .box1 .intdu_box > p { line-height: 26px; font-size: 16px; }
    .cont1 .box1 .skill_box > strong { font-size: 18px; }
    .cont1 .box1 .skill_box > ul > li .icn > img { width: 6.348vw; }
    .cont1 .box2 { padding-left: 0; margin-top: 0; }
    .cont1 .box2 .career_list { display: block; height: 100%; }
    .cont1 .box2 .career_list li { height: 33%; padding: 0 0 0 25px; border-top: 0; border-left: 1px solid #fff; }
    .cont1 .box2 .career_list > li:before { top: 0; left: -4px; }
    .cont1 .box2 .career_list > li strong { line-height: 28px; font-size: 20px; }
    .cont1 .box2 .career_list > li span { font-size: 14px; }
}
@media only screen and (max-width: 860px) {
    .cont1 .box1 { width: 55%; }
}
@media only screen and (max-width: 767px) {
    .cont1 { display: block; }
    .cont1 .box1 { width: auto; padding-right: 50px; }
    .cont1 .box1 > div { width: 100%; }
    .cont1 .box1 .skill_box > ul > li .icn > img { width: 65px; }
    .cont1 .box1 .skill_box > ul > li > p { font-size: 12px; }
    .cont1 .box1 .skill_box > strong { font-size: 16px; }
    .cont1 .box2 { margin-top: 70px; padding-left: 50px; }
    .cont1 .box2 .career_list { display: flex; height: auto; }
    .cont1 .box2 .career_list li { flex: 1; height: auto; padding: 15px 0 0 5px; border-left: 0; border-top: 1px solid #fff;; }
    .cont1 .box2 .career_list > li:before { top: -4px; left: 0; }
    .cont1 .box2 .career_list > li strong { line-height: 25px; font-size: 17px; }
}
@media only screen and (max-width: 590px) {
    .cont1 .box2 .career_list { display: block; }
    .cont1 .box2 .career_list li { padding: 5px 0 50px 20px; border-top: 0; border-left: 1px solid #fff; }
    .cont1 .box2 .career_list > li:before { top: 0; left: -4px; }
}
@media only screen and (max-width: 460px) {
    .cont1 .box1 { padding-right: 50px; }
    .cont1 .box1 .skill_box > ul > li .icn > img { width: 14.13vw; }
}
@media only screen and (max-width: 444px) { 
    .cont1 .box1 .intdu_box > p > br { display: none; }
}

/************************* 작업물 *************************/
.cont2 { padding: 0 100px 100px; }
.cont2 .con_title { margin-bottom: 100px; }
.cont2 .con_title .aniBox { display: block; }
.cont2 .con_title .aniBox strong { display: block; line-height: 85px; font-family: 'GmarketSans'; font-weight: 700; font-size: 70px; text-align: center; word-break: keep-all; }
.cont2 .con_title .aniBox strong span { display: block; font-family: 'GmarketSans'; font-weight: 400; }
.cont2 .work_list_wrap ul li { border-bottom: 1px solid #222; }
.cont2 .work_list_wrap ul li:first-child { border-top: 1px solid #222; }
.cont2 .work_list_wrap ul li a { display: flex; padding: 45px 0; }
.cont2 .work_list_wrap ul li a .num { display: block; margin-right: 35px; font-family: 'GmarketSans'; font-weight: 700; font-size: 24px; }
.cont2 .work_list_wrap ul li a .text > strong { display: block; margin-bottom: 15px; font-family: 'GmarketSans'; font-weight: 700; font-size: 52px; word-break: keep-all; }
.cont2 .work_list_wrap ul li a .text > p { font-family: 'GmarketSans'; font-weight: 400; font-size: 20px; }
.cont2 .work_list_wrap > .more_btn { display: block; height: 65px; line-height: 68px; padding: 0 10px; font-family: 'GmarketSans'; font-weight: 500; font-size: 20px; color: #fff; text-align: center; text-transform: uppercase; background: #222; }

/************************* 작업물 (배경 ON) *************************/
body.bgBk .cont2 .con_title strong,
body.bgBk .cont2 .con_title strong > span { color: #fff; }
body.bgBk .cont2 .work_list_wrap ul li { border-top-color: #fff; }

@media only screen and (max-width: 1500px) {
    .cont2 .con_title .aniBox strong { line-height: 75px; font-size: 60px; }
    .cont2 .work_list_wrap ul li a .text > strong { font-size: 45px; }
}
@media only screen and (max-width: 1300px) {
    .cont2 { padding: 0 50px 100px; }
}
@media only screen and (max-width: 1199px) {
    .cont2 .con_title { margin-bottom: 60px; }
    .cont2 .con_title .aniBox strong { line-height: 57px; font-size: 44px; }
    .cont2 .work_list_wrap ul li a { padding: 35px 0; }
    .cont2 .work_list_wrap ul li a .num { font-size: 19px }
    .cont2 .work_list_wrap ul li a .text > strong { font-size: 32px; }
    .cont2 .work_list_wrap ul li a .text > p { font-size: 17px; }
}
@media only screen and (max-width: 1023px) {
    .cont2 .work_list_wrap > .more_btn { height: 50px; line-height: 50px; font-size: 16px; }
}
@media only screen and (max-width: 767px) {
    .cont2 .con_title { margin-bottom: 50px; }
    .cont2 .con_title .aniBox strong { line-height: 46px; font-size: 34px; }
    .cont2 .work_list_wrap ul li a { padding: 28px 0; }
    .cont2 .work_list_wrap ul li a .num { margin-top: 5px; margin-right: 15px; font-size: 14px; }
    .cont2 .work_list_wrap ul li a .text > strong { margin-bottom: 10px; line-height: 32px; font-size: 24px; }
    .cont2 .work_list_wrap ul li a .text > p { font-size: 15px; }
}
@media only screen and (max-width: 560px) {
    .cont2 .con_title { margin-bottom: 35px; }
    .cont2 .con_title .aniBox strong { line-height: 40px; font-size: 30px; }
}



/************************* 배경 효과 *************************/
body { transition: 0.8s; }
body.bgBk { background: #222; }
body.bgYe { background: var(--main-color); }

/************************* AOS *************************/
.aniBox { overflow: hidden; }

/************************* 마우스 커서 *************************/
#cursor_wrap { position: fixed; left: -30px; top: -30px; pointer-events: none; }
#cursor_wrap .cursor { align-items: center; justify-content: center; width: 70px; height: 70px; line-height: 70px; font-family: 'GmarketSans'; font-size: 14px; font-weight: 500; color: #fff; text-align: center; text-transform: uppercase; letter-spacing: 0; background: #222; border-radius: 100%; transform:scale(0); transition: 0.5s; }
#cursor_wrap .cursor.on { transform:scale(100%); }

